.git
.venv
.pytest_cache
.ruff_cache
__pycache__
*.pyc
.env
data/
dist/
build/
*.egg-info/
tests
ml_engine/saved_model/best_model.keras
ml_engine/saved_model/last_checkpoint.keras
ml_engine/saved_model/training_state.json
ml_engine/saved_model/*.tflite

